*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.6rem;
	font-family: 'Skranji';
	min-height: 100vh;
	background-image: url(./img/background.jpg);
	background-size: cover;
	background-position: center;
}

.hide {
	display: none;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 3rem;
	overflow-x: hidden;
}

.start-game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	width: 100%;
	margin: 0 auto;
	padding: 3rem 0;
	background-color: rgba(0, 0, 0, 0.65);
	transition: transform 0.3s;
}

.start-game-animation {
	animation: hide-start-panel 0.5s ease-out forwards;
}

.viking-img {
	width: 150px;
	height: 150px;
}

.start-btn {
	border: none;
	background-color: #ffffff44;
	padding: 2rem 2rem;
	border-radius: 8px;
	font-family: 'Skranji';
	font-size: 2.4rem;
	font-weight: bold;
	color: #9c1313;
	text-shadow: 0 0 5px #fff;
	cursor: pointer;
}

.start-btn:hover {
	color: #b61818;
}

.container {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
}

.container-show-game {
	animation: show-game 0.5s ease-in forwards;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.logo-img {
	width: 220px;
	height: 160px;
	margin-top: 2rem;
}

.logo-header {
	font-size: 3.6rem;
	color: #000;
	text-shadow: 0 0 5px white;
	margin-bottom: 2rem;
}

.game-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0 0;
}

.images {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 3.5rem;
	gap: 3rem;
}

.player-img,
.computer-img {
	width: 120px;
}

.points {
	margin-bottom: 3rem;
}

.points-text {
	font-size: 2rem;
	text-shadow: 0 0 3px white;
}

.player-points {
	color: blue;
}

.computer-points {
	color: red;
}

.restart-game {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -2rem;
	gap: 1rem;
}

.winner {
	font-size: 3.2rem;
	color: #9c1313;
	text-shadow: 0 0 3px white;
	text-transform: uppercase;
}

.restart {
	position: relative;
	overflow: hidden;
	padding: .5rem 1rem;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 8px;
	background-color: #ffffff44;
	font-family: 'Skranji';
	font-size: 1.8rem;
	color: #9c1313;
	text-shadow: 0 0 3px white;
	cursor: pointer;
}

.restart:hover {
	color: #b61818;
}

.restart::before, .option::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform 0.2s ease-in;
	z-index: -1000;
}

.restart:hover::before, .option:hover::before {
	transform: translateY(0);
}

.options {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
}

.option {
	position: relative;
	overflow: hidden;
	width: 80px;
	padding: 1rem 0;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 8px;
	font-family: 'Skranji';
	font-size: 1.8rem;
	color: #000;
	text-transform: uppercase;
	text-shadow: 0 0 3px white;
	cursor: pointer;
	z-index: 1000;
	background-color: #ffffff44;
}

.info, .music-on, .music-off {
	position: absolute;
	top: 0;
	right: 4.8rem;
	padding: 1rem;
	font-size: 2.4rem;
	cursor: pointer;
	transition: color 0.3s;
	z-index: 1000;
	color: #ddd9d9;
}

.info:hover, .music-on:hover {
	color: #fff;
}

.music-off:hover {
	color: tomato;
}

.music-on, .music-off{
	right: 0.5rem;
}

.fa-volume-xmark {
	color: tomato;
}

.legend-shadow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}

.legend {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 300px;
	padding: 3rem 4rem;
	border-radius: 15px;
	background-color: rgb(245, 245, 245);
	z-index: 1000;
}

.legend .legend-header {
	margin-bottom: 1rem;
	text-align: center;
}

.legend ul {
	list-style-type: none;
	text-align: center;
}

.legend .close {
	display: block;
	margin: 3rem auto 0;
	padding: 1rem 2rem;
	text-transform: uppercase;
	border-radius: 8px;
	background-color: tomato;
	transition: background-color 0.3s;
	cursor: pointer;
}

.legend .close:hover {
	background-color: rgb(226, 36, 26);
}

.legend-animation {
	animation: show-legend 0.5s;
}

.shake-player {
	animation: shake-player 1.5s linear;
}

.shake-computer {
	animation: shake-computer 1.5s linear;
}

@keyframes show-game {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		display: flex;
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes hide-start-panel {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-200%);
	}
}

@keyframes show-legend {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes shake-player {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(30deg);
	}
	75% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shake-computer {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(-30deg);
	}
	75% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@media (min-width: 414px) {
	.logo-img {
		width: 250px;
		height: 190px;
		margin-top: 0;
	}

	.player-img,
	.computer-img {
		width: 140px;
	}
}

@media (min-width: 576px) {
	.start-game {
		gap: 5rem;
		width: 90%;
		border-radius: 8px;
	}

	.viking-img {
		width: 180px;
		height: 180px;
	}

	.start-btn {
		font-size: 2.6rem;
	}

	.logo-img {
		width: 300px;
		height: 220px;
	}

	.images {
		gap: 5rem;
		margin-bottom: 4.5rem;
	}

	.player-img,
	.computer-img {
		width: 200px;
	}

	.points-text {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	.restart-game {
		margin-top: 0rem;
		gap: 2rem;
	}

	.winner {
		font-size: 5rem;
	}

	.restart {
		padding: 1rem 1rem;
	}

	.options {
		gap: 4rem;
	}

	.option {
		width: 120px;
	}

	.legend {
		width: 80%;
		padding: 2rem 4rem;
	}

	.legend-header {
		font-size: 3rem;
	}

	.legend ul li {
		font-size: 1.8rem;
	}

	.legend .close {
		margin-top: 2rem;
	}
}

@media (min-width: 768px) {
	.legend {
		width: 60%;
	}
}

@media (min-width: 992px) {
	.start-game {
		width: 70%;
	}

	.viking-img {
		width: 200px;
		height: 200px;
	}

	.logo-img {
		width: 320px;
		height: 240px;
	}

	.option {
		width: 140px;
		font-size: 2.4rem;
	}

	.legend {
		width: 40%;
	}
}

@media (min-width: 1200px) {
	.start-game {
		width: 60%;
	}

	.logo {
		margin-bottom: 3rem;
	}

	.images {
		gap: 6rem;
	}
}

@media (min-width: 1400px) {
	.start-game {
		width: 40%;
	}

	.legend {
		width: 30%;
	}
}
